.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



* {
    box-sizing: border-box;
}



/* shared style */


.display-flex {
    display: flex;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}


/* dark 1 */
.banner-font {
    color: #131313;
    font-size: 2.8rem;
    font-weight: bold;
}


/* dark 3 */
.grey-font {
    color: #727272;
    line-height: 26px;
}


/* orange color */
.orange {
    color: rgba(255, 144, 14, 1);
}


.bold-font {
    font-size: 2.8rem;
    font-weight: bold;
}


.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}


.banner-btn {
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}


.navbar,
.banner,
.team-container {
    max-width: 1440px;
    margin: 0 auto;
}


/* main style */
main {
    max-width: 1440px;
    margin: 0 auto;
}


/* navbar */


.navbar {
    justify-content: space-between;
    align-items: center;
}


.nav-items {
    list-style: none;
    margin-right: 30px;
}


.nav-links {
    text-decoration: none;
    font-weight: 500;
}


/* banner style */

.banner-content {
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
    margin-bottom: 50px;
}


.banner-image {
    width: 100%;
    margin-bottom: 45px;
}


.banner-title {
    font-size: 4rem;
    font-weight: bold;
}


/* team design */
.team-container {
    align-items: center;
    gap: 75px;
}


.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 85px;
}


#Quick-list {
    font-size: 2.8rem;
    font-weight: 500;
}


.team-feature {
    max-width: 537px;
}


/* feature section */

.feature {
    margin-top: 130px;
    gap: 146px;
}


.side-border {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 12px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}


.feature-cards {
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
    max-width: 586px;
    width: 100%;
}




#feature-paragraph {
    max-width: 586px;
}


.feature-image {
    max-width: 708px;
}

.feature-image img {
    width: 100%;
    height: auto;
}



.feature-button {
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    border: none;
    padding: 46px 42px;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    margin-left: -54px;
    margin-top: -100px;
}


#year {
    font-size: 4rem;
    line-height: 70px;
    font-weight: bold;
}


#Experience {
    font-size: 1.5rem;
    font-weight: 400;
}


/* fact section */
.fact-card-container {
    display: flex;
    margin-top: 100px;
    gap: 124px;
    justify-content: center;
}


.fact-card {
    border: 2px solid rgba(255, 144, 14, 1);
    align-items: center;
    text-align: center;
    padding: 45px 35px;
    border-radius: 8px;
}


.fact-description {
    margin-top: 130px;
    margin-bottom: 100px;
}


.fact-card img,
h3,
p {
    margin: 0;
}





/* responsive design */

/* small device */
@media screen and (max-width: 576px) {

    /* shared design */
    .navbar,
    .navbar-links,
    .team-container,
    .feature {
        flex-direction: column;
    }

    /* navbar section */
    .navbar-links {
        gap: 24px;
    }

    /* team section */
    .team-image {
        grid-template-columns: 1fr;
    }


    .team-feature {
        text-align: center;
    }


    /* feature section */

    .feature,
    .fact {
        text-align: center;
    }


    .fact {
        display: flex;
        flex-direction: column;
    }


    .feature-button {
        margin-left: 0.5px;
        margin-top: 10px;
    }


    /* fact section */

    .fact-card-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 20px;
        gap: 16px;
    }


    .fact-card {
        max-width: 350px;
        width: 100%;
        padding: 24px 18px;
    }


    .fact-description {
        margin-top: 30px;
        margin-bottom: 20px;
    }


    .fact-description p {
        margin-top: 8px;
        margin-bottom: 0;
    }

}





/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .team-container,
    .feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .team-feature {
        text-align: center;
    }

    .feature {
        width: 100%;
        max-width: 700px;
    }

    .feature-image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-button {
        margin: 20px 0 0 0;
    }


}